In [ ]:
Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

In [ ]:
ans : Select * from Worker where year(JOINING_DATE) = 2014 and month(JOINING_DATE) = 2;

In [ ]:
Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

In [ ]:
ans : Below query gives multiple entry of first name . 
    Select COUNT(*) from Worker GROUP BY FIRST_NAME;

In [ ]:
Q-3. How to remove duplicate rows from Employees table.

In [ ]:
ans : DELETE FROM [SampleDB].[dbo].[Employee]
    WHERE ID NOT IN
    (
        SELECT MAX(ID) AS MaxRecordID
        FROM [SampleDB].[dbo].[Employee]
        GROUP BY [column1], 
                 [column2], 
                 [column3]
    );