In [ ]:
Q-13. Write an SQL query to show only odd rows from a table.

In [ ]:
ans : SELECT * FROM Table_name WHERE MOD (column_name, 2) <> 0;

In [ ]:
Q-14. Write an SQL query to clone a new table from another table.

In [ ]:
ans :  
    CREATE TABLE new_table_name LIKE table_to_be_clone;
    SELECT * FROM new_table_name;