In [ ]:
Q-15. Write an SQL query to fetch intersecting records of two tables.

In [ ]:
ans : SELECT * FROM table1 INTERSECT SELECT * FROM table2

In [ ]:
Q-16. Write an SQL query to show records from one table that another table does not have.

In [ ]:
ans :  
SELECT * FROM table1 MINUS SELECT * FROM table2;