Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

Select RTRIM(FIRST_NAME) from Worker;

Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

Select distinct length(DEPARTMENT) from Worker;

Q-3. Write an SQL query to fetch nth max salaries from a table.

<!-- make copy of employee table  as Employee1 and Employee2.  -->

SELECT salary FROM Employee1 WHERE N-1 = (SELECT COUNT(DISTINCT salary) FROM Employee2 WHERE 
Employee2.salary > Employee1.salary)